# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node modules
node_modules/

# IDE settings
.idea/
.vscode/

# Environment variables
.env

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# Environment variables
.env.* 